[Unit]
Description=consul-template-vault agent
Requires=consul-online.target
After=consul-online.target

[Service]
Environment=VAULT_ADDR=http://active.vault.service.consul:8200
Environment=VAULT_SKIP_VERIFY=true
ExecStartPre=/usr/local/bin/vault agent -config /etc/vault-agent.d/vault-agent.hcl
ExecStart=/usr/bin/consul-template-vault.sh
KillSignal=SIGINT
Restart=on-failure
RestartSec=2
StartLimitBurst=3
StartLimitIntervalSec=10
User=root
Group=root