owner    = "John Doe"
ttl      = "24"
env_name = "hashistack"

# rhel option
operating_system           = "rhel"
operating_system_version   = "7.3"

# ubuntu option - work in progress
#operating_system           = "ubuntu"
#operating_system_version   = "16.04"

# automatically initialize and unseal vault clusters 
vault_cloud_auto_init_and_unseal   = "true"

# automatically setup vault replication 
# dependent upon vault_cloud_auto_init_and_unseal 
vault_auto_replication_setup = "true"

## UNDER CONSTRUCTION

# enable nomad clusters
nomad_enabled                = "true"

# use kms key for auto unseal
vault_cloud_unseal           = "true"

# custom URL to utilize - this is optional
# the domain must already be registered in AWS
root_domain = "this-demo.rocks"