owner    = "John Doe"
ttl      = "24"
env_name = "hashistack"

# automatically initialize and unseal vault clusters 
vault_cloud_auto_init_and_unseal   = "true"

# automatically setup vault replication 
# dependent upon vault_cloud_auto_init_and_unseal 
vault_auto_replication_setup = "true"

## UNDER CONSTRUCTION

# enable nomad clusters
nomad_enabled                = "true"

# use kms key for auto unseal
vault_cloud_unseal           = "true"