{
  "consul_zip": "/path/to/consul-enterprise_1.2.2+ent_linux_amd64.zip",
  "consul_version": "1.2.2",
  "consul_template_zip": "/path/to/consul-template_0.19.4_linux_amd64.zip",
  "consul_template_version": "0.19.4",
  "nomad_zip": "/path/to/nomad-enterprise_0.8.4+ent_linux_amd64.zip",
  "nomad_version": "0.8.4",
  "vault_zip": "/path/to/vault-enterprise_0.11.0+prem_linux_amd64.zip",
  "vault_version": "0.11.0"
  "username": "your-ssh-username",
  "pubkey": "ssh-rsa AAAAB3NzaC1<<-- your public key goes here -->>IUzu4eGeAvSvdp/QFBtPoR37bLv"
}
